@model BonTemps.Models.Klant

@{
    ViewData["Title"] = "Index";
}


<h2>Reserveren</h2>
<hr />

<div class="row">
    <form asp-action="Index" class="ReservationForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="DatePicker" class="control-label">Datum</label>
            <input id="DatePicker" type="date" name="Datum" class="form-control"/>
            <div id="Validation" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label asp-for="Time" class="control-label"></label>
            <input asp-for="Time" class="form-control" />
            <span asp-validation-for="Time" id="Start" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Voornaam" class="control-label"></label>
            <input asp-for="Voornaam" class="form-control" />
            <span asp-validation-for="Voornaam" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Achternaam" class="control-label"></label>
            <input asp-for="Achternaam" class="form-control" />
            <span asp-validation-for="Achternaam" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Straat" class="control-label"></label>
            <input asp-for="Straat" class="form-control" />
            <span asp-validation-for="Straat" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Huisnummer" class="control-label"></label>
            <input asp-for="Huisnummer" class="form-control" />
            <span asp-validation-for="Huisnummer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Postcode" class="control-label"></label>
            <input asp-for="Postcode" class="form-control" />
            <span asp-validation-for="Postcode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Residence" class="control-label"></label>
            <input asp-for="Residence" class="form-control" />
            <span asp-validation-for="Residence" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefoonnummer" class="control-label"></label>
            <input asp-for="Telefoonnummer" class="form-control" />
            <span asp-validation-for="Telefoonnummer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AantalPersonen" class="control-label"></label>
            <input asp-for="AantalPersonen" class="form-control" onchange="NumberOfPersonsChecker()" id="NumberOfPersons" />
            <span asp-validation-for="AantalPersonen" class="text-danger"></span>
            <div id="ValidationNumberOfPersons" class="text-danger"></div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-secondary" id="Submit" />
        </div>
    </form>
</div>
