@model BonTemps.Models.GerechtIngredient

@{
    ViewData["Title"] = "_AddIngredient";
}

<h4>Ingredient Toevoegen</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddIngredient" asp-controller="Gerechten" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GerechtId" />
            <div class="form-group">
                <label asp-for="IngredientId" class="control-label"></label>
                <select asp-for="IngredientId" class="form-control" asp-items="ViewBag.IngredientId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}